<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @vehicle.unit %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @vehicle.plate %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle.mileage %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Category:</strong>
  <%= @vehicle.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.status %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @vehicle.equipment %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @vehicle.fuel %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @vehicle.weight %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @vehicle.transmission %>
</p>

<p>
  <strong>Custom:</strong>
  <%= @vehicle.custom %>
</p>

<p>
  <strong>Purchase code:</strong>
  <%= @vehicle.purchase_code %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @vehicle.purchase_price %>
</p>

<p>
  <strong>Start cost:</strong>
  <%= @vehicle.start_cost %>
</p>

<p>
  <strong>Virtual meter:</strong>
  <%= @vehicle.virtual_meter %>
</p>

<p>
  <strong>Repairs:</strong>
  <%= @vehicle.repairs %>
</p>

<p>
  <strong>Services:</strong>
  <%= @vehicle.services %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
